<div th:fragment="search" xmlns:th="http://www.thymeleaf.org">
    <form action="/drink" method="get">
        <input name="name" list="drink-names" class="search" type="text" placeholder="Search..."
               onfocus="this.placeholder=''"
               onblur="this.placeholder='Search...'" required autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <datalist id="drink-names">
        <option th:each="drink : ${drinks}" th:value="${drink.getName()}">
    </datalist>
</div>
